.post {
    border: 2px solid green;
    margin-top: 2rem;
    padding: 0 2rem;
}

.img {
    width: 250px;
    height: 250px;
}

.image {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}